@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #3a86ff;
  --color-secondary: #d9d9d9;
  --color-text-secondary: #0b0b0b;
  --color-danger: #dc3545;
}

.openSansFont {
  font-family: "Open Sans", sans-serif;
}

.hide-scrollbar {
  /* IE and Edge */
  -ms-overflow-style: none;
  /* Firefox */
  scrollbar-width: none;
}

/* Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
